@font-face {
    font-family: 'Vance';
    src: url('../assets/fonts/vance-bold.otf') format('opentype');
    font-weight: bold;
  }
  
  @font-face {
    font-family: 'Vance';
    src: url('../assets/fonts/vance-regular.otf') format('opentype');
    font-weight: normal;
  }
  
  :root {
    --grey: #F6F7F6;
    --secondary-green: #B5CFBF;
    --green: #113D33;
    --dark-green: #223B38;
    --text-color: #EBE7DF;
  }
  
  body {
    background: var(--grey);
    margin: 0;
    padding: 0;
    font-family: 'Vance', sans-serif;
  }
  
  .join-us-section {
    position: relative;
    text-align: center;
    font-family: 'Vance', sans-serif;
    color: var(--text-color);
    margin: 40px 0; /* Add margin to move dotted lines farther from the image */
  }
  
  .divider {
    width: 100%;
    height: 2px;
    margin: 40px 0; /* Adjust margin to move dotted lines farther from the image */
    border-top: 2px dotted var(--green);
  }
  
  .background-container {
    position: relative;
    width: 95%; /* Increase width to take up more of the screen */
    height: 85vh; /* Increase height to take up more of the viewport height */
    margin: 0 auto;
    border-radius: 50px; /* Ensure corners are rounded */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Soft dark overlay */
    z-index: 1;
  }
  
  .text-container {
    position: absolute;
    bottom: 20px;
    left: 30px; /* Slightly more centered */
    z-index: 2;
    text-align: left;
    padding: 20px;
    max-width: 90%; /* Ensure text doesn't go too far to the right */
  }
  
  .text-large {
    color: var(--text-color);
    font-size: 50px;
    font-family: 'Vance';
    font-weight: 400;
    line-height: 68px;
    word-wrap: break-word;
    margin-bottom: 30px; /* Add more space between the text blocks */
  }
  
  .text-small {
    color: var(--text-color);
    font-size: 35px;
    font-family: 'Vance';
    font-weight: 400;
    line-height: 42px;
    word-wrap: break-word;
  }
  
  .arrow {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 50px;
    cursor: pointer;
    color: var(--text-color);
    background: rgba(0, 0, 0, 0.5); /* Background behind the arrow */
    padding: 10px 20px; /* Adjust padding to make it oval */
    border-radius: 25px; /* More of an oval shape */
    transition: color 0.3s, transform 0.3s;
    z-index: 3;
  }
  
  .arrow:hover {
    color: #B5CFBF;
    transform: scale(1.1);
  }
  