@font-face {
    font-family: 'Vance';
    src: url('../assets/fonts/vance-bold.otf') format('opentype');
    font-weight: bold;
  }
  
  @font-face {
    font-family: 'Vance';
    src: url('../assets/fonts/vance-regular.otf') format('opentype');
    font-weight: normal;
  }
  
  :root {
    --grey: #F6F7F6;
    --secondary-green: #B5CFBF;
    --green: #113D33;
  }
  
  .new-section {
    background: var(--grey, #F6F7F6);
    padding: 50px 20px 50px 20px;
    text-align: left;
    font-family: 'Vance', sans-serif; /* Apply the custom font */
    position: relative;
    z-index: 0;
  }
  
  .divider {
    width: 1281px;
    height: 2px;
    margin: 0 auto;
    border-top: 2px dotted var(--green, #113D33);
  }
  
  .section-heading {
    color: var(--secondary-green, #B5CFBF);
    font-size: 35px;
    font-weight: bold;
    line-height: 42px; /* 120% */
    margin: 20px 0;
    width: 1281px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .section-description {
    color: var(--green, #113D33);
    font-size: 35px;
    font-weight: 400;
    line-height: 42px; /* 120% */
    max-width: 1281px;
    margin: 20px auto;
    font-family: 'Vance', sans-serif;
    text-align: left;
  }
  