/* Example of App.css, ensure no unwanted global styles */

@font-face {
  font-family: 'Vance';
  src: url('./assets/fonts/vance-bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Vance';
  src: url('./assets/fonts/vance-regular.otf') format('opentype');
  font-weight: normal;
}

:root {
  --grey: #F6F7F6;
  --secondary-green: #B5CFBF;
  --green: #113D33;
  --dark-green: #223B38;
}

body {
  background: var(--grey);
  margin: 0;
  padding: 0;
  font-family: 'Vance', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--dark-green);
}

p {
  color: var(--green);
  font-size: 16px;
  line-height: 1.5;
}

/* Scoped styles for specific components */
.landing-page-description {
  color: var(--grey);
  font-size: 35px;
  font-family: 'Vance';
  font-weight: 400;
  line-height: 42px;
  word-wrap: break-word;
}

.join-team-section .description {
  color: var(--green);
  font-size: 35px;
  font-family: 'Vance';
  font-weight: 400;
  line-height: 42px;
  word-wrap: break-word;
  text-align: left;
  text-shadow: none;
}
